/* this is taken directly from http://www.paulirish.com/2012/box-sizing-border-box-ftw/ based on his August 2014 update */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links-header ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.links-header a {
  text-decoration: none;
  color: inherit;
}

.header img {
  height: 48px;
  width: auto;
}