/* this is taken directly from http://www.paulirish.com/2012/box-sizing-border-box-ftw/ based on his August 2014 update */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boton-amarillo {
  color: #003366;
  background-color: #ffaa00;
  border-radius: 1.2rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  align-self: flex-start;
  font-weight: bold;
}

.links-header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.links-header a {
  text-decoration: none;
  color: inherit;
}

.header img {
  height: 48px;
  width: auto;
}

.letra-azul {
  color: #003366;
  font-weight: bold;
}

.banner {
  background-image: url("../img/banner.png");
  background-position: center center;
  background-size: cover;
  

}

.banner a.banner-link {
display: flex;
flex-direction: column;
}


.banner-items {
  display: flex;
  flex-direction: column;
  padding: 0rem 20rem;  

}

.letra-amarilla {
  color: #ffaa00;
  font-weight: bold;
}

.letra-blanca {
  color: white;
  font-weight: bold;
}

.letra-verde {
  color: #A3D9A5;
  font-weight: bold;
}

.letra-blanca2 {
  color: white;
}

.boton-transparente {
  color: white;
  background-color: transparent;
  border: solid 0.1rem;
  border-radius: 1.2rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  align-self: flex-start;
  font-weight: bold;
}

.contenedor-botones {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  max-width: 20rem;
}

.nosotros {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 20rem;
}

.texto-nosotros {
  flex: 1;
}

.about-imagen {
  flex: 1;
}

.nosotros img {
  max-width: 30rem;
  width: 100%;
  height: auto;
  border-radius: 1.2rem;
}

.tarjetas {
  display: flex;          
  justify-content: center;
  gap: 30px;              
}


.tarjeta {
  background-color: #ffffff; 
  padding: 60px 20px;        
  border-radius: 8px;        
  width: 320px;              
  text-align: left;          
}

.contenedor-valores {
  background-color: #003366;
  text-align: center;
  padding: 4rem 2rem;
}

.tarjetas div {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  width: 300px; 
  text-align: left; 
}

.contenedor-valores h2, 
.contenedor-valores p {
  text-align: left;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}